<h1><%= @billboard.charts %></h1>
<hr />
<%= link_to "Add Song", new_billboard_song_path(@billboard) %>
<%= link_to "Back to Billboards", billboard_path(@billboard) %>
<ul>
  <% @songs.each do |songs| %>
    <li><%= songs.title %></li>
    <li><%= songs.album %></li>
  <% end %>
</ul>