<h1><%= @artist.name %> - <%= @song.title %></h1>
<p><%= @artist.album %></p>

<%= link_to  "Add Comment", new_topic_comment_path(@topic) %>

<% @topic.comments.each do |c| %>
  <%= render "comments/comment", { comment: c } %>
<% end %>
